
  <div class="divBan">
    <img class="banner" src="https://i.imgur.com/eWnc08N.jpg" alt="banner">    
    <img class="img-fluid rounded-circle" src="https://i.imgur.com/hSSLtl7.png" alt="Foto Perfil">
  </div>
  
  <div class="info" id="encabId">    
    <h3 id="nom">{{miPorfolioEncabezado.fullName}}</h3>
    <i *ngIf="usuarioAutenticado" type="button" class="fas fa-user-edit fa-lg" id="icon"
      data-bs-toggle="modal" data-bs-target="#modalEncabezado" (click)="mostrarDatosEncabezado()"></i>      
      </div> 
      
  
  <div class="puesto">
    <h5 class="stack"> {{miPorfolioEncabezado.position}} </h5>
    <h5 class="stack"> {{miPorfolioEncabezado.ubication}} </h5>
  </div>
  





<!-- Modal -->
<div class="modal fade" id="modalEncabezado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Información</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="mb-3">
            <label for="fullName" class="form-label">Nombre y Apellido</label>
            <input type="text" class="form-control" id="fullName" formControlName="fullName">
            <!-- le cambie el nombre al id. Tanto de la etiqueta 'input' como en 'label', para no tener problemas con otros formularios -->
            <div *ngIf="fullName?.invalid && fullName?.touched">
              <div *ngIf="fullName?.errors?.['required']" class="text-danger">
                Nombre y apellido requeridos.
              </div>
              <div *ngIf="fullName?.errors?.['minlength']" class="text-danger">
                Nombre y apellido deben tener más de 5 caracteres.
              </div>         
            </div>
          </div>
          <div class="mb-3">
            <label for="position" class="form-label">Posición</label>
            <input type="text" class="form-control" id="position" formControlName="position">
            <!-- placeholder="Posición" -->
          </div>
          <div class="mb-3">
            <label for="ubication" class="form-label">Lugar de Residencia</label>
            <input type="text" class="form-control" id="ubication" formControlName="ubication">
          </div>
          <div class="mb-3">
            <label for="url" class="form-label">URL de la imágen</label>
            <input type="text" class="form-control" id="url" formControlName="url">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModalEncabezado" class="btn btn-dark"
          data-bs-dismiss="modal">Salir</button>
        <button type="button" class="btn btn-info" (click)="guardarEncabezado()">Guardar</button>
      </div>
    </div>
  </div>
</div>



<!-- Boton Login -->
<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingrese</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">            
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>  
          <div class="d-grid gap-2 d-md-flex">       
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
        </form>   


      </div>     
    </div>
  </div>
</div>











