
<div style="background-color: #1e272e">
<section class="seccion1" id="acercaId">

    <div class="acerca">
      <i class="fas fa-address-card fa-2x" id="dni"></i>
      <h2 class="de">Acerca de</h2>
    </div>

            <!-- botones de edición -->
        <i *ngIf="usuarioAutenticadoAcerca" type="button" class="fas fa-pen" id="aver" data-bs-toggle="modal"
          data-bs-target="#modalAcercaDe" (click)="mostrarDatosAcerca()"></i>
        <i *ngIf="usuarioAutenticadoAcerca" type="button" class="fas fa-trash-alt" id="aber" (click)="eliminarAcerca()"></i>        
            <!------------------------>

    <div id="campoAcerca">
      <h5 id="Lorem"> {{miPorfolioAcerca.acerca}}</h5> 
    </div>

    <div>
      <i type="button" class="fa fa-plus" data-bs-toggle="modal" data-bs-target="#modalAgregarAcercaDe" id="plus" (click)="agregarAcercaDe()">Agregar</i>
    </div>

         

  </section>
</div>





<!-- Modal Editar-->
<div class="modal fade" id="modalAcercaDe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Información</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAcerca">
          
            <div class="mb-3">

            <label for="campoAcercaDe" class="form-label">Acerca De</label>
            <input type="text" class="form-control" id="campoAcercaDe" placeholder="Edite aquí el campo 'Acerca De'" formControlName="acercaDe">
            
            </div>                      
        
        </form>
      </div>
      <div class="modal-footer">        
        <button type="button" id="cerrarModalAcerca" class="btn btn-dark" data-bs-dismiss="modal" (click)="salirAcercaDe()">Salir</button>
        <button type="button" class="btn btn-info" (click)="guardarAcercaDe()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar-->
<div class="modal fade" id="modalAgregarAcercaDe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Información</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAgregarAcerca">
          
            <div class="mb-3">

            <label for="campoAcercaDe" class="form-label">Acerca De</label>
            <input type="text" class="form-control" id="campoAcercaDe" placeholder="Agregue aquí su información" formControlName="acerc">
            
            </div>                      
        
        </form >
      </div>
      <div class="modal-footer">        
        <button type="button" id="cerrarModalAgregarAcerca" class="btn btn-dark" data-bs-dismiss="modal" (click)="salirAcercaDe()">Salir</button>
        <button type="button" class="btn btn-info" (click)="agregarAcercaDe()">Guardar</button>
      </div>
    </div>
  </div>
</div>


