<footer class="ulti" id="proyectId">
    <div class="proyecto">
      <i class="fas fa-project-diagram fa-2x"></i>
      <h3 class="de">Proyectos</h3>
    </div>

    <div class="container-fluid proyectos">

      <div *ngFor="let proyecto of proyectoList" class="row mb-2">


        <div class="col-9">
      <h4 id="lorem">{{proyecto.tipoDeProyecto}}</h4>
        </div>

      <div class="col-3">
       <i type="button" *ngIf="usuarioAutenticado"  class="fas fa-pen" id="aver" data-bs-toggle="modal" data-bs-target="#proyectoModal" (click)="editarProyecto(proyecto)"></i>               
       <i type="button" *ngIf="usuarioAutenticado"  class="fas fa-trash-alt" id="aber" (click)="eliminarProyecto(proyecto.id)"></i>
      </div>

    </div>

    <div class="col-9">
      <i type="button" *ngIf="usuarioAutenticado" class="fa fa-plus" id="plus" data-bs-toggle="modal" data-bs-target="#proyectoModal">Agregar</i>
    </div>
  
</div>
    
  </footer>  

    <div class="pie">
      
    </div>

    <!-- Modal -->
<div class="modal fade" id="proyectoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Información</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form"> 
          
          <div class="mb-3">
            <label for="campoProyecto" class="form-label">Proyecto</label>
            <input type="text" class="form-control" id="campoProyecto" formControlName="tipoDeProyecto">  
            
              </div>         

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModalProy" class="btn btn-dark" data-bs-dismiss="modal">Salir</button>
        <button type="button" class="btn btn-info" (click)="guardarProyecto()">Guardar</button>
      </div>
    </div>
  </div>
</div>

