<footer class="ulti" id="proyectId">
    <div class="proyecto">
      <i class="fas fa-project-diagram fa-2x"></i>
      <h3 class="de">Proyectos</h3>
    </div>

       <i *ngIf="usuarioAutenticadoProyecto" type="button" class="fas fa-pen" id="aver" data-bs-toggle="modal" data-bs-target="#modalProyecto" (click)="mostrarDatosProyecto()"></i>               
       <i *ngIf="usuarioAutenticadoProyecto" type="button" class="fas fa-trash-alt" id="aber" (click)="eliminarProyectos()"></i>
    <div>
      <h5 id="Lorem">{{miPorfolioProyecto.proyecto}}</h5>
    </div>
  </footer>  

    <div class="pie">
      
    </div>

    <!-- Modal -->
<div class="modal fade" id="modalProyecto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Información</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formProyecto"> 
          <div class="mb-3">
            <label for="campoProyecto" class="form-label">Proyecto</label>
            <input type="text" class="form-control" id="campoProyecto" placeholder="Edite aquí el campo Proyecto" formControlName="Proyectos">  
            <div *ngIf="Proyectos?.invalid && Proyectos?.touched">          
              <div *ngIf="Proyectos?.errors?.['minlength']" class="text-danger">
                   El campo debe contener mínimo 20 caracteres.
              </div>
            </div>          
          </div>
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModalProy" class="btn btn-dark" data-bs-dismiss="modal" (click)="salirProyecto()">Salir</button>
        <button type="button" class="btn btn-info" (click)="guardarProyecto()">Guardar</button>
      </div>
    </div>
  </div>
</div>
