<section class="seccion2" id="educId">
  <div class="edu">
    <i class="fas fa-university fa-2x" id="univ"></i>
    <h3 class="de">Educación</h3>
    <div class="col">
      <!-- acomodar este boton, por fuera de la seccion para que siempre quede -->
      <i type="button" *ngIf="usuarioAutenticado" data-bs-toggle="modal" class="fa fa-plus" id="plusEdu" data-bs-target="#educacionModal">Agregar</i>
    </div>
  </div>

  <div class="container-fluid educacion">
    <div *ngFor="let educacion of educacionList" class="row mb-2">
      <div class="col-1">
        <img [src]="educacion.imgEdu" alt="Logo escuela" class="img-fluid" id="tamanioLogoEdu">
      </div>
      <div class="col-9">

        <h2 id="infoEdu">{{educacion.school}}</h2>
        <h4>{{educacion.career}}</h4>
        <p>{{educacion.comienzo}} - {{educacion.fin}}</p>

      </div>
      <div class="col-2">
        <i type="button" *ngIf="usuarioAutenticado" class="fas fa-pen" data-bs-toggle="modal" id="aver" data-bs-target="#educacionModal"
           (click)="editarEducacion(educacion)"></i>
        <i type="button" *ngIf="usuarioAutenticado" class="fas fa-trash-alt" id="aber" (click)="eliminarEducacion(educacion.id)"></i>
      </div>
    </div>

  </div>
  

</section>
  
  
  
  
  <!-- Modal -->
  
  <div
    class="modal fade"
    id="educacionModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> {{accion}} Educación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>                      
            
          
        </div>
        <div class="modal-body">
         <form [formGroup]="form">
            <div>

              <label for="school" class="form-label">Institucion</label>                    
              <input type="text" class="form-control" id="school" formControlName="school"/>             
                                     
              <label for="career" class="form-label" id="estiloEduDos">Carrera</label>                     
              <input type="text" class="form-control" id="career" formControlName="career"/>             
              
              <label for="comienzo" class="form-label" id="estiloEduDos">Mes y año de Inicio</label>                     
              <input type="text" class="form-control" id="comienzo" formControlName="comienzo"/> 

              <label for="fin" class="form-label" id="estiloEduDos">Mes y año de finalización</label>                     
              <input type="text" class="form-control" id="fin" formControlName="fin"/>

              <label for="url" class="form-label" id="estiloEduDos">Imagen</label>                     
              <input type="text" class="form-control" id="url" formControlName="url"/>
      
             </div>           

          </form> 

        </div>
        <div class="modal-footer">

          <!-- Ojo al ID -->
          <button type="button" id="cerrarModalEducacion" class="btn btn-dark" data-bs-dismiss="modal"> Cerrar </button>         
          <button type="submit" class="btn btn-info" (click)="guardarEducacion()"> Guardar </button>
        </div>
      </div>
    </div>
  </div>