<section class="seccion2" id="educId">
  <div class="edu">
    <i class="fas fa-university fa-2x" id="univ"></i>
    <h3 class="de">Educación</h3>
  </div>

  <i
    *ngIf="usuarioAutenticadoEducacion"
    type="button"
    class="fas fa-pen"
    id="aver"
    data-bs-toggle="modal"
    data-bs-target="#modalEducacion"
    (click)="mostrarDatosEducacion()"
  ></i>
  <i
    *ngIf="usuarioAutenticadoEducacion"
    type="button"
    class="fas fa-trash-alt"
    id="aber"
    (click)="eliminarEducacion()"
  ></i>

  <div>
    <div class="logoEdu">
      <img src="../assets/img/logo-mumuki.png" alt="Logo Mumuki" id="tamanioLogoEdu">
      <h5 id="infoEdu">{{ miPorfolioEdu.descripcion1 }}</h5>
      </div>

      <div class="logoEdu">
        <img src="../assets/img/INTI img.jpg" alt="Logo INTI" id="tamanioLogoEdu">
      <h5 id="infoEdu">{{ miPorfolioEdu.descripcion2 }}</h5>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="modalEducacion"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Información</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEducacion">
          <div class="mb-3">
            <label for="campoEducacion1" class="form-label"
              >Educación - campo 1</label
            >
            <input
              type="text"
              class="form-control"
              id="campoEducacion1"
              placeholder="Edite aquí el primer campo"
              formControlName="descripcion1"
            />
            <div *ngIf="descripcion1?.invalid && descripcion1?.touched">
              <div
                *ngIf="descripcion1?.errors?.['minlength']"
                class="text-danger"
              >
                El campo debe contener mínimo 20 caracteres.
              </div>
            </div>

            <label for="campoEducacion1" class="form-label" id="educacionCampo1"
              >Educación - campo 2</label
            >
            <input
              type="text"
              class="form-control"
              id="campoEducacion1"
              placeholder="Edite aquí el segundo campo"
              formControlName="descripcion2"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cerrarModalEdu"
          class="btn btn-dark"
          data-bs-dismiss="modal"
          (click)="salirEducacion()"
        >
          Salir
        </button>
        <button type="button" class="btn btn-info" (click)="guardarEducacion()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
